*,
*::before,
*::after {
    box-sizing: border-box;
}


.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: span 2;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
}
.controls {
    display: grid;
    grid-template-columns: 3fr 2fr;
}


.main {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 15px;
}

/* || Style to clearly see element, do not forget to remove later */
.main > :nth-child(1) {
    background-color: blue;
}
.main > :nth-child(2) {
    background-color: pink;
}

.sidebar {
    background-color: aqua;
}
.header {
    background-color: rgb(101, 124, 124);
}
.main {
    background-color: rgb(81, 123, 160);
}