/* Global */
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.icon {
    width: 22px;
    height: 22px;
    vertical-align: middle;
}
li {
    margin-bottom: 20px;
}
.white {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}
.margin {
    margin-left: 20px;
    margin-right: 20px;
}
.circle {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: blue;
} 

/* Sidebar section */
.heading img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 15px;
}
.sidebar {
    grid-column: 1 / 2;
    grid-row: span 2;
    padding-left: 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 6fr;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 500;
}
li img {
    width: 22px;
    height: 22px;
    vertical-align: middle;
    margin-right: 25px;
}

/* Main Section */
.main {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 15px;
    padding: 15px;
}

.main_show {
    display: grid;
    grid-row: 1 / 3;
}
.projects-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* || Header section */
.controls {
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.controls > div {
    display: grid;
    padding: 15px;
    align-content: center;
}
.controls_input,
.controls_user {
    grid-template-columns: 1fr 6fr;
}
.controls_options {
    grid-template-columns: 1fr 1fr 1fr;
}
.controls p {
    margin: 0;
}
input[type="search"] {
    border-style: none;
}
.controls button {
    border-radius: 10px;
    margin-left: 10px;
    padding: 5px;
}
.narrow-grid {
    grid-template-columns: 50px 50px auto;;
    justify-content: center;
}


/* || Style to clearly see element, do not forget to remove later */
/* .main > :nth-child(1) {
    background-color: blue;
}
.main > :nth-child(2) {
    background-color: pink;
}

.sidebar {
    background-color: aqua;
}
.header {
    background-color: rgb(101, 124, 124);
}
.main {
    background-color: rgb(81, 123, 160);
} */